html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --font-heading: Helvetica, sans-serif;
  --font-copy: Georgia, serif;
  --color-white: #fafafa;
  --color-white-fade: rgba(250, 250, 250, 0.8);
  --color-copy: #393838;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.post-header--container {
  width: 100vw;
  max-height: 80vh;
  min-height: 50vh;
  background: url("/jason-wong-bg.jpg") rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header-img {
  width: 100%;
}
.post-header-content--title {
  font-family: var(--font-heading);
  color: var(--color-white);
  font-size: 4.8rem;
  line-height: 3rem;
  font-weight: 700;
}

@media only screen and (max-width: 1000px) {
  .post-header-content--title {
    margin: 3vh 10vw;
    font-size: 10vw;
    line-height: 5rem;
  }
}

.header--meta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.post-header-content--byline {
  font-family: var(--font-heading);
  color: var(--color-white-fade);
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 100;
}

@media only screen and (max-width: 1000px) {
  .post-header-content--byline {
    margin: 1vh 10vw;
    font-size: 6vw;
    line-height: 4rem;
  }
}

.post-header-content--byline a {
  text-decoration: none;
  color: var(--color-white-fade);
}

.content--grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "sidebar content";
}
@media only screen and (max-width: 1000px) {
  .content--grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "content"
      "sidebar";
  }
}

.content--copy {
  grid-area: content;
  font-family: var(--font-copy);
  color: var(--color-copy);
  font-size: 2.4rem;
  line-height: 3rem;
  margin-top: 5vh;
  max-width: 80%;
}

@media only screen and (max-width: 1000px) {
  .content--copy {
    margin: 5vh 10vw;
    font-size: 7vw;
  }

  h2 {
    font-size: 8vw;
    line-height: 5vh;
  }
}

.sidebar--container {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.site-branding--container {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 0 5vw;
}
@media only screen and (max-width: 1000px) {
  .site-branding--container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0 5vw;
  }
}
.avatar--photo-wrapper {
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.avatar--photo {
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.author-info--container {
  text-align: right;
  margin-top: 5vh;
}

.author-info--copy {
  font-family: var(--font-copy);
  color: #747979;
  font-size: 1.8rem;
}

.main-nav--container {
  grid-area: navigation;
  text-align: right;
  margin-top: 3vh;
}

.main-nav--list {
  display: inline-block;
  list-style-type: none;
}
@media only screen and (max-width: 1000px) {
  .main-nav--list {
    display: inline-flex;
    flex-direction: row;
  }
  .main-nav--entry a {
    padding: 2vw;
  }
}

.main-nav--entry {
  list-style-type: none;
  font-family: var(--font-heading);
  font-size: 1.8rem;
  padding: 1vh 0;
}

.main-nav--entry a {
  text-decoration: none;
  color: #393838;
}

.main-nav--entry {
}
